<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventosedn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eventosedn.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eventosedn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eventosedn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ModeloDados" Order="2" Enabled="False">
          <Destination Path="Data Source=ednserver.database.windows.net;Initial Catalog=aspnet5-EDNEVENTOS-3ec71e44-5867-4fb4-b4eb-6b0208096409;Persist Security Info=False;User ID=edneventos;Password=Felipe007.;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=ednserver.database.windows.net;Initial Catalog=aspnet5-EDNEVENTOS-3ec71e44-5867-4fb4-b4eb-6b0208096409;Persist Security Info=False;User ID=edneventos;Password=Felipe007.;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SiteEdnEventos.Models.ModeloDados, SiteEdnEventos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SiteEdnEventos.Models.ApplicationDbContext, SiteEdnEventos" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModeloDados-Web.config Connection String">
      <ParameterValue>Data Source=ednserver.database.windows.net;Initial Catalog=aspnet5-EDNEVENTOS-3ec71e44-5867-4fb4-b4eb-6b0208096409;Persist Security Info=False;User ID=edneventos;Password=Felipe007.;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>